.form__title {
	margin: 0 0 20px;
	font-size: 24px;
	text-align: center;
}

.form__control {
	margin-bottom: 10px;
}

.form__control-label {
	display: inline-block;
	width: 120px;
}

.form__control:last-child {
	margin-bottom: 0;
}

.form__control-input {
	width: 250px;
	padding: 10px;
	border: 2px solid #cccccc;
	border-radius: 5px;
}

.form__control-input:focus {
	outline: none;
	border-color: #777777;
}
